/*=========================
    ANIMACIONES
==========================*/

.overlay{

    animation:fade 2s ease;

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes scrollAnimation{

    0%{

        transform:translateY(0);

        opacity:1;

    }

    50%{

        transform:translateY(12px);

        opacity:.4;

    }

    100%{

        transform:translateY(0);

        opacity:1;

    }

}