/* ==========================================
   HERO
========================================== */

.hero{

    min-height:100vh;

    background:
        linear-gradient(
            rgba(0,0,0,.65),
            rgba(0,0,0,.85)
        ),
        url("../img/backgrounds/road1.jpg");

    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:120px 80px 60px;

}

.overlay{

    width:100%;
    max-width:1400px;

    display:grid;
    grid-template-columns:1fr 1fr;

    align-items:center;

    gap:50px;

}

.hero-left{

    text-align:left;

}

.subtitle{

    color:var(--primary);

    font-size:18px;

    letter-spacing:6px;

    margin-bottom:20px;

}

.title{

    font-size:80px;

    margin-bottom:30px;

    line-height:1;

}

.frase{

    font-size:24px;

    color:#ddd;

    margin-bottom:40px;

    line-height:1.5;

}

.hero-right{

    display:flex;

    justify-content:center;

}

.motorcycle{

    width:50%;

    max-width:350px;

    height:auto;

    display:block;

    margin:auto;

    filter:drop-shadow(0 0 35px rgba(0,174,239,.45));

}

.scroll{

    margin-top:40px;

    color:var(--primary);

    letter-spacing:3px;

}

.vibrar{

    animation:vibrar .25s linear 4;

}

@keyframes vibrar{

    0%{

        transform:translateX(0);

    }

    25%{

        transform:translateX(-5px);

    }

    50%{

        transform:translateX(5px);

    }

    75%{

        transform:translateX(-5px);

    }

    100%{

        transform:translateX(0);

    }

}

/*==========================================
FECHA HERO
==========================================*/

.hero-date{

    margin-top:25px;

    font-size:18px;

    color:#ffffff;

    line-height:1.8;

    font-weight:600;

    letter-spacing:1px;

    opacity:.9;

}

.desktop-only{

    display:flex;

}

.mobile-only{

    display:none;

}